/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	 font-family: arial, sans-serif;
	 font-size: 12px;
}
a {
	cursor: pointer;
}
.edit {
	visibility: hidden;
}
.display {
	visibility: visible;
}
.property_row,
.tenant_row,
.transaction_row {
	font-size: 11px;
}
.archived {
	font-style: italic;
	opacity: 0.7;
}
.error {
	background-color: rgba(255,0,0,0.5);
}
.alert {
	z-index: 100;
	width: 500px;
	position: fixed;
	text-align: center;
	margin: 0 0 0 -250px;
	top: 30px;
	left: 50%;
}
.snapshot_content, .payment_content {
	display: none;
}
.snapshot, .payment {
	padding: 10px;
}
tr.filters th {
	overflow:hidden;
	white-space:nowrap;
}
tr.filters a {
	color: #f00;
}
