.bic_calendar {
    background: #F9F9F9;
    border-radius: 5px;
    border: 1px solid #DDD;
}
.bic_calendar a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.bic_calendar .table tbody > tr > td {
    text-align: center;
    padding: 0px;
}
.bic_calendar td div {
    padding: 5px;
}
.bic_calendar td a {

}
.bic_calendar .header {
    padding: 10px 0 10px 0;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}
.bic_calendar .button-month-previous {
    padding: 5px;
    float: left;
}
.bic_calendar .button-month-next {
    padding: 5px;
    float: right;
}
.bic_calendar .button-year-previous {
    padding: 5px;
    float: left;
}
.bic_calendar .button-year-next {
    padding: 5px;
    float: right;
}
.bic_calendar .monthAndYear {
    text-align: center;
    font-weight: 500;
}
.bic_calendar .days-month {
    font-weight: 500;
}
.bic_calendar .payment {
  font-weight: bold;
}
.bic_calendar .snapshot {
  color: black;
  background: #3B5A97;
  box-shadow:
    inset 0px 11px 8px -5px rgba(0, 0, 0, 0.2),
      inset 0px -11px 8px -5px rgba(0, 0, 0, 0.2);
/*    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
*/
}
.bic_calendar .snapshot:hover {
  background: #3B5A97;
  box-shadow:
    inset 0px 11px 8px -2px rgba(0, 0, 0, 0.2),
      inset 0px -11px 8px -2px rgba(0, 0, 0, 0.2);
}
.bic_calendar .snapshot a {
    color: black;
}
.bic_calendar .table {
    margin-bottom: 3px;
}
.bic_calendar .days-month td {
    background: #f0f0f0;
}
.bic_calendar .selection {
  background: rgba(141,200,230,0.5);
  box-shadow:
    inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2),
      inset 0px -11px 8px -10px rgba(0, 0, 0, 0.2);
  /*  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);  */
}
.bic_calendar .first-selection {
    border-radius: 6px 0 0 6px;
    border-right: 0;
}
.bic_calendar .last-selection {
    border-radius: 0 6px 6px 0;
    border-left: 0;
}
.bic_calendar .first-selection.last-selection {
  border-radius: 6px 6px 6px 6px;
}
.bic_calendar .middle-selection {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.bic_calendar .popover {
    color: #000;
    text-shadow: none;
}
.bic_calendar .popover-content {
    font-weight: 300;
}
.bic_calendar .monthDisplayed {
    margin: 0px;
    margin-top: 1px;
    border: 1px #ddd solid;
    border-radius: 10px;
}
.bic_calendar .monthDisplayed .month {
    text-align: center;
    display: block;
    font-weight: 600;
    background: #eee;
}
.bic_calendar #monthsLayer {
  margin:0px;
}
